/* ---------Customizer--------- */
.control-section-author-writer h3.accordion-section-title {
	background: #f59300 !important;
	color: #fff !important;
    padding: 20px 10px;
}
a.button.button-secondary.alignright {
    color: #f59300;
    box-shadow: none;
    font-weight: bold;
    padding: 0 10px;
    background: transparent;
    height: 31px;
    background: #fff;
    border: none;
}